extends default 

block productContent
    h1 Toppings : #{order}
    select#productFilter(name='Order Filter')
     option(value='alpha') Alphabetical
     option(value='ascending') Price: High to Low
     option(value='descending') Price: Low to High

    #productTable 
    each product in productData 
        .productItem
         h2 Name #{product.name}
          p ID #{product.topping_id} 
          p Type #{product.type}
          p Serving Size #{product.serving_size}
          p Price per Serving #{product.price_per_serving}