extends default 
block formContent
  form(method='POST', action='http://localhost:3000/toppings/')
    h1 Add a new Topping
    input(type='text', placeholder='name', name='name')
    select(placeholder='Type', name='type')
      option(value='vegetable') Vegetable
      option(value='meat') Meat
    input(type='text', placeholder='Serving Size', name='serving_size')
    input(type='number', placeholder='Price Per Serving', name='price_per_serving')
    button(type="submit") Submit
block productContent
    h1 Toppings

    form(method='GET', action='http://localhost:3000/toppings/filter')
         select#productFilter(name='q' onchange='this.form.submit()')
            option(value='') 
            option(value='alphabetical') Alphabetical
            option(value='ascending') Price: High to Low
            option(value='descending') Price: Low to High
    button Add Topping

    #productTable 
    if baseURL
        p Welcome to the toppings section
    else
        each product in productData 
            .productItem
            h2 Name #{product.name}
            p ID #{product.topping_id} 
            p Type #{product.type}
            p Serving Size #{product.serving_size}
            p Price per Serving #{product.price_per_serving}
            button Edit
            form(method='POST', action="http://localhost:3000/toppings/"+product.topping_id+"?_method=delete&id="+product.topping_id)
                <input type="hidden" name="_method" value="delete"/>
                button(name="id" value=product.topping_id onclick="this.form.submit()") Delete
